.header{
    height: 300px;
  }

  .titulos{
    margin-top: auto;
    font-size: 35px;
  }

  .mais-vendidos{
    display: flex;
    flex-wrap: wrap;
    margin: auto 10rem auto 10rem;
    
  }

.card-review {
  text-decoration: none;
  text-align: justify;
  -moz-text-size-adjust:none ;
   border-width: 0.5px;
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.152);
   padding: 0.2rem;
   margin-top: 2rem;
   margin-left: 10px;
}

.card-img:hover{
  width: 330px;
  height: 490px;
  transition: 0.3s;
    
}

.titulos{
  margin-top: 2rem;
}

@media only screen and (max-width:500px){

  .titulos {
    margin-top: -2.5rem;
  }
}

@media only screen and (max-width:770px){
  .card-img {
    width: 180px;
    height: auto;
  }

  .mais-vendidos{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .txt-card-review {
    max-width: 180px;
  }
}





